* {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1rem;
	line-height: 1.3;
}

body {
	background-color: rgba(241, 243, 109, 0.53);
}

.currentInfo {
	display: flex;
	flex-direction: column;
	max-width: 550px;
	margin: 20px auto;
	background-color: rgba(250, 61, 255, 0.23);
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.35);
}

.secondaryInfo {
	align-items: center;
}

.tools, .mainInfo, .secondaryInfo {
	/*background-color: lightblue;*/
	display: flex;
	margin: 20px 0;
	justify-content: space-around;
}

.tools {
	margin: 15px;
}

.searchbar {
	/*max-width: 200px;*/
	position: relative;
	flex-grow: 1;
}

.windSettings {
	margin-left: 35px;
    margin-right: 15px;
}

.currentTemp, .currentIcon {
	/*flex-grow: 1;*/
	text-align: center;
}

.currTemp {
	font-family: 'Work Sans', sans-serif;
	font-size: 6rem;
	font-weight: 200;
}

.currentTemp>p {
	margin: 0;
}

.location p {
	font-size: 1.5rem;
}


/*.searchbar, .tempSettings, .windSettings {
	background-color: azure;
	margin: 10px;
}
.tempSettings, .windSettings {
	flex-grow: 0;
}
.tools {
	justify-content: flex-end;
	align-items: center;
}
.location, .metaInfo {
	flex-grow: 2;
}
.currentTemp, .location {
	flex-grow: 0;
}
.currentTemp, .location, .currentIcon, .metaInfo{
	background-color: azure;
	margin: 10px;
}*/

[data-accordion-group] {
    max-width: 600px;
    margin: 0 auto;
}

[data-control] {
	font-size: 0.9rem;
}

[data-content] {
	padding: 0;
}

.dayBrief, .weekBrief {
	margin-left: 15px;
	display: inline-block;
}


.shortForecast {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	margin: 0 auto;
	padding: 10px 0!important;
	/*background-color: cadetblue;*/
}

.shortlist {
	display: flex;
	justify-content: space-around;
	background-color: rgba(44, 199, 255, 0.23);
	/*margin: 10px;*/
}

.labels, .shortInstance, .longInstance {
	/*background-color: lightgreen;*/
	margin: 5px;
}

.labels>p, .shortInstance>p, .longInstance>p {
	font-size: 0.8rem;
}

 .shortInstance>p, .longInstance>p {
	text-align: center;
}

.shortInstance>.time, .longInstance>.time {
	font-weight: bold;
}

.labels {
	padding-top: 30px;
	border-right: solid #666 1px;
    padding-right: 8px;
}

.labels>p {
    margin-bottom: 15px;
}

.longForecast {
	display: flex;
	justify-content: space-around;
	max-width: 600px;
	margin: 10px auto;
	padding: 0!important;
	border-bottom: 0!important;
	background-color: rgba(44, 199, 255, 0.23);
}


.currentIcon > i {
	font-size: 4rem;
	/*margin-top: 15%;*/
}

.metaInfo i {
	font-size: 2rem;
}

.shortInstance i, .longInstance i {
	font-size: 1.3rem;
}

/*====================================
  ==============OPTIONS===============
  ====================================
*/

label>p {
	margin: 0;
	font-size: 0.8rem;
}

.toggle_radio{
  position: relative;
  background: rgba(251, 112, 112, 0.36);
  /*margin: 0 auto;
  overflow: hidden;
  padding: 0 !important;*/
  height: 30px;
  width: 125px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
}
.toggle_radio > * {
  float: left;
}
.toggle_radio input[type=radio]{
  display: none;
}
.toggle_radio label{
  /*color: ;*/
  /*z-index: 0;*/
  display: block;
  width: 35px;
  height: 18px;
  margin: 6px 3px;
  cursor: pointer;
  /*z-index: 1;*/
  text-align: center;
}
.toggle_option_slider{
  width: 35px;
  height: 24px;
  position: absolute;
  top: 3px;
  -webkit-transition: all .4s cubic-bezier(0.81, -0.36, 0.29, 1.28);
  -moz-transition: all .4s cubic-bezier(0.81, -0.36, 0.29, 1.28);
  -o-transition: all .4s cubic-bezier(0.81, -0.36, 0.29, 1.28);
  -ms-transition: all .4s cubic-bezier(0.81, -0.36, 0.29, 1.28);
  transition: all .4s cubic-bezier(0.81, -0.36, 0.29, 1.28);
}

#first_toggle:checked ~ .toggle_option_slider{
  background: rgba(240,255,255, .75);
  left: 3px;
}
#second_toggle:checked ~ .toggle_option_slider{
  background: rgba(240,255,255, .75);
  left: 44px;
}
#third_toggle:checked ~ .toggle_option_slider{
  background: rgba(240,255,255, .75);
  left: 87px;
}



#first_toggle-2:checked ~ .toggle_option_slider{
  background: rgba(240,255,255, .75);
  left: 3px;
}
#second_toggle-2:checked ~ .toggle_option_slider{
  background: rgba(240,255,255, .75);
  left: 44px;
}

#toggleTemp {
	width: 82px;
}

#toggleTemp label {
	width: 32px;
}




/*.cross:after {
	display: none;
	position: absolute;
	top: 10%;
	right: 4px;
	width: 10px;
	height: 10px;
	color: #444;
	content: '❌';
}
*/


/*.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
	outline: 0;
	cursor: pointer;
	float: left;
}

.close-icon:after {
	content: "❌";
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	z-index:1;
	right: 4px;
	top: 10%;
	text-align: center;
	color: #444;
	cursor: pointer;
}

.tp-autocomplete {
	float: left;
	width: 100%;
}

.tp-autocomlete:not(:valid) ~ .close-icon {
	display: none;
}*/