* {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.3;
	color: #313131;
}

body {
	background-color: #79B9AA;
}

html {
	font-size: 110%;
}

.currentInfo {
	display: flex;
	flex-direction: column;
	max-width: 32rem;
	height: 24rem;
	margin: 20px auto;
	/*background-color: rgba(250, 61, 255, 0.23);*/
	background-color: #F1AFB9;
	box-shadow: 0 0px 3px 0 rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.secondaryInfo {
	align-items: center;
}

.tools, .mainInfo, .secondaryInfo {
	/*background-color: lightblue;*/
	display: flex;
	margin: 20px 0;
	justify-content: space-around;
}

.tools {
	/*margin: 15px;*/
	margin: 1rem;
}

.searchbar {
	/*max-width: 200px;*/
	position: relative;
	flex-grow: 2;
}

.windSettings {
	/*margin-left: 2rem;*/
    margin-right: 1rem;
}

.windSettings, .tempSettings {
	flex-grow: 1;
}

.currentTemp, .currentIcon {
	/*flex-grow: 1;*/
	text-align: center;
}

.currTemp {
	font-family: 'Work Sans', sans-serif;
	font-size: 6rem;
	font-weight: 200;
}

.currentTemp>p {
	margin: 0;
}

.location p {
	font-size: 1.5rem;
}


.metaInfo i {
	margin-top: -0.7rem;
}

.metaInfo .wi:before {
	position: relative;
	top: 0.4rem;
}

.metaInfo>p, .currentTemp>p {
	font-size: 1.1rem;
}

.currentTemp {
	margin-right: 5px;
}

/*.searchbar, .tempSettings, .windSettings {
	background-color: azure;
	margin: 10px;
}
.tempSettings, .windSettings {
	flex-grow: 0;
}
.tools {
	justify-content: flex-end;
	align-items: center;
}
.location, .metaInfo {
	flex-grow: 2;
}
.currentTemp, .location {
	flex-grow: 0;
}
.currentTemp, .location, .currentIcon, .metaInfo{
	background-color: azure;
	margin: 10px;
}*/

[data-accordion-group] {
    max-width: 35rem;
    margin: 0 auto;
}

[data-control] {
	font-size: 0.9rem;
}

[data-content] {
	padding: 0;
}

.dayBrief, .weekBrief {
	margin: 5px 0 0 15px;
	display: inline-block;
	font-size: 1.1rem;
}


.shortForecast {
	display: flex;
	flex-direction: column;
	/*max-width: 600px;*/
	margin: 0 auto;
	padding: 10px 0!important;
	/*background-color: cadetblue;*/
}

.shortlist {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	/*background-color: rgba(44, 199, 255, 0.23);*/
	background-color: #EFD9B5;
	/*margin: 10px;*/
}

.labels, .shortInstance, .longInstance {
	/*background-color: lightgreen;*/
	margin: 5px;
}

.labels>p, .shortInstance>p, .longInstance>p {
	font-size: 0.8rem;
}

 .shortInstance>p, .longInstance>p {
	text-align: center;
}

.shortInstance>.time, .longInstance>.time {
	font-weight: bold;
}

.labels {
	padding-top: 2rem;
	border-right: solid #666 1px;
    padding-right: 0.5rem;
}

/*.labels>p {
    margin-bottom: 0.8rem;
}*/

.longForecast {
	display: flex;
	justify-content: space-around;
	/*max-width: 600px;*/
	margin: 10px auto;
	padding: 0!important;
	border-bottom: 0!important;
	/*background-color: rgba(44, 199, 255, 0.23);*/
	background-color: #EFD9B5;
}


.currentIcon > i {
	font-size: 4.5rem;
	/*margin-top: 15%;*/
}

.metaInfo i {
	font-size: 1.8rem;
}

.shortInstance i, .longInstance i {
	font-size: 1.3rem;
}

/*====================================
  ==============OPTIONS===============
  ====================================
*/

label>p {
	margin: 0;
	font-size: 0.8rem;
}

.toggle_radio{
  position: relative;
  text-align: center;
  /*background: rgba(251, 112, 112, 0.36);*/
  background-color: #EA8998;
  /*margin: 0 auto;
  overflow: hidden;
  padding: 0 !important;*/
  height: 1.8rem;
  /*width: 125px;*/
  box-shadow: 0 0px 3px 0 rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
/*.toggle_radio > * {
  float: left;
}*/
.toggle_radio input[type=radio]{
  display: none;
}
.toggle_radio label{
  display: inline-block;
/*  width: 35px;
  height: 18px;*/
  margin: 4%;
  cursor: pointer;
  /*z-index: 1;*/
  text-align: center;
}
.toggle_option_slider{
  width: 32%;
  height: 80%;
  position: absolute;
  top: 10%;
  -webkit-transition: all .4s cubic-bezier(0.81, -0.36, 0.29, 1.28);
  -moz-transition: all .4s cubic-bezier(0.81, -0.36, 0.29, 1.28);
  -o-transition: all .4s cubic-bezier(0.81, -0.36, 0.29, 1.28);
  -ms-transition: all .4s cubic-bezier(0.81, -0.36, 0.29, 1.28);
  transition: all .4s cubic-bezier(0.81, -0.36, 0.29, 1.28);
}

#toggleTemp>.toggle_option_slider {
	width: 45%;
}

#first_toggle:checked ~ .toggle_option_slider{
  background: rgba(240,255,255, .75);
  left: 2%;
}
#second_toggle:checked ~ .toggle_option_slider{
  background: rgba(240,255,255, .75);
  left: 34%;
}
#third_toggle:checked ~ .toggle_option_slider{
  background: rgba(240,255,255, .75);
  left: 65%;
}



#first_toggle-2:checked ~ .toggle_option_slider{
  background: rgba(240,255,255, .75);
  left: 4%;
}
#second_toggle-2:checked ~ .toggle_option_slider{
  background: rgba(240,255,255, .75);
  left: 50%;
}

#toggleTemp {
	/*width: 82px;*/
}

#toggleTemp label {
	/*width: 32px;*/
	margin: 9% 13%;
}

input {
	box-shadow: 0 0px 3px 0 rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

/*.message {
    width: 300px;
    height: 200px;
    line-height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-l.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.75);
}

eft: -150px;
    background-color: #f1c40f;
    border-radius: 5px;
    text-align: center;
    z-index: 11;
}

.message>p {
	margin-top: 20%;
}

*/
/*.cross:after {
	display: none;
	position: absolute;
	top: 10%;
	right: 4px;
	width: 10px;
	height: 10px;
	color: #444;
	content: '❌';
}
*/


/*.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
	outline: 0;
	cursor: pointer;
	float: left;
}

.close-icon:after {
	content: "❌";
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	z-index:1;
	right: 4px;
	top: 10%;
	text-align: center;
	color: #444;
	cursor: pointer;
}

.tp-autocomplete {
	float: left;
	width: 100%;
}

.tp-autocomlete:not(:valid) ~ .close-icon {
	display: none;
}*/


@media (max-width: 650px) {
	html {
		font-size: 95%;
	}
}

@media (max-width: 550px) {
	html {
		font-size: 90%;
	}
}

@media (max-width: 530px) {
	html {
		font-size: 85%;
	}
}

@media (max-width: 490px) {
	html {
		font-size: 80%;
	}
}

@media (max-width: 470px) {
	html {
		font-size: 75%;
	}
}

@media (max-width: 440px) {
	html {
		font-size: 70%;
	}
}

@media (max-width: 410px) {
	html {
		font-size: 65%;
	}
}

@media (max-width: 380px) {
	html {
		font-size: 60%;
	}
}

@media (max-width: 355px) {
	html {
		font-size: 57%;
	}
}

@media (max-width: 335px) {
	html {
		font-size: 53%;
	}
}