* {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.3;
	color: #313131;
}

body {
	background-color: #79B9AA;
}

html {
	font-size: 110%;
}

h1 {
	text-align: center;
	font-size: 3rem;
	margin: .5rem;
}

.headerIcon {
	color: #F2E552;
}

.currentInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 35rem;
	height: 27rem;
	margin: 0 auto 1.2rem auto;
	background-color: #F1AFB9;
	box-shadow: 0 0px 3px 0 rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.secondaryInfo {
	align-items: center;
	margin-bottom: 1.5rem;
}

.tools, .mainInfo, .secondaryInfo {
	display: flex;
	justify-content: space-around;
}

.tools {
	margin: 1rem .5rem 0 .5rem;
}

.searchbar {
	position: relative;
	flex-grow: 2;
}

.windSettings {
	margin-right: 1rem;
}

.windSettings, .tempSettings {
	flex-grow: 1;
}

.info {
	position: relative;
	background-color: #43252A;
	height: 2.4rem;
	width: 2.4rem;
	text-align: center;
	margin-left: .8rem;
	cursor: pointer;
	box-shadow: 0 0px 3px 0 rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.info>p {
	margin: 0;
	padding-top: 20%;
	color: #EA8998;
}

.currentTemp, .currentIcon {
	text-align: center;
}

.currTemp {
	font-family: 'Work Sans', sans-serif;
	font-size: 6.5rem;
	font-weight: 200;
}

.currentTemp>p {
	margin: 0;
}

.location p {
	font-size: 1.8rem;
}


.metaInfo i {
	margin-top: -0.7rem;
}

.metaInfo .wi:before {
	position: relative;
	top: .4rem;
}

.metaInfo>p, .currentTemp>p {
	font-size: 1.2rem;
}

.currentTemp {
	margin-right: .3rem;
}



[data-accordion-group] {
	max-width: 35rem;
	margin: 0 auto;
}

[data-control] {
	font-size: 1rem;
}

[data-content] {
	padding: 0;
}

.dayBrief, .weekBrief {
	margin: .5rem 0 0 1rem;
	display: inline-block;
	font-size: 1.2rem;
}


.shortForecast {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: .8rem 0!important;
}

.shortlist {
	display: flex;
	justify-content: space-between;
	padding: 0 .8rem;
	background-color: #EFD9B5;
}

.labels, .shortInstance, .longInstance {
	margin: .5rem 0;
}

.labels>p, .shortInstance>p, .longInstance>p {
	font-size: .8rem;
}

 .shortInstance>p, .longInstance>p {
	text-align: center;
}

.shortInstance>.time, .longInstance>.time {
	font-weight: bold;
}

.labels {
	padding-top: 2rem;
	border-right: solid #666 1px;
	padding-right: .5rem;
}

.longForecast {
	display: flex;
	justify-content: space-around;
	margin: .8rem auto;
	padding: 0!important;
	border-bottom: 0!important;
	background-color: #EFD9B5;
}

.currentIcon > i {
	font-size: 4.5rem;
}

.metaInfo i {
	font-size: 1.8rem;
}

.shortInstance i, .longInstance i {
	font-size: 1.3rem;
}

/*====================================
  ==============OPTIONS===============
  ====================================
*/

label>p {
	margin: 0;
	font-size: 1.1rem;
}

.toggle_radio{
	position: relative;
	background-color: #EA8998;
	height: 2.4rem;
	box-shadow: 0 0px 3px 0 rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.toggle_radio input[type=radio]{
	display: none;
}

.toggle_radio label{
	display: inline-block;
	margin: 5% 0 0 4%;
	cursor: pointer;
}

.toggle_option_slider{
	width: 30%;
	height: 2rem;
	position: absolute;
	top: .2rem;
	-webkit-transition: all .4s cubic-bezier(0.81, -0.36, 0.29, 1.28);
	-moz-transition: all .4s cubic-bezier(0.81, -0.36, 0.29, 1.28);
	-o-transition: all .4s cubic-bezier(0.81, -0.36, 0.29, 1.28);
	-ms-transition: all .4s cubic-bezier(0.81, -0.36, 0.29, 1.28);
	transition: all .4s cubic-bezier(0.81, -0.36, 0.29, 1.28);
}

#toggleTemp>.toggle_option_slider {
	width: 45%;
}

#first_toggle:checked ~ .toggle_option_slider{
	background: rgba(240,255,255, .6);
	left: 2%;
}
#second_toggle:checked ~ .toggle_option_slider{
	background: rgba(240,255,255, .6);
	left: 32%;
}
#third_toggle:checked ~ .toggle_option_slider{
	background: rgba(240,255,255, .6);
	left: 68%;
}

#first_toggle-2:checked ~ .toggle_option_slider{
	background: rgba(240,255,255, .6);
	left: 4%;
}
#second_toggle-2:checked ~ .toggle_option_slider{
	background: rgba(240,255,255, .6);
	left: 50%;
}

#toggleTemp label {
	margin: 12% 8% 0 6%;
}

input {
	box-shadow: 0 0px 3px 0 rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}


.message {
	width: 34rem;
	height: 18rem;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -9rem;
	margin-left: -17rem;
	background-color: #F6F395;
	border-radius: .2rem;
	text-align: center;
	z-index: 11;
}

.message>ul {
	text-align: left;
}

.message li {
	line-height: 1.5;
	font-size: 1.2rem;
}

.overlay {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,.75);
}

.cross {
	position: absolute;
	top: 3%;
	right: 2%;
}
.cross:before {
	color: #444;
	content: 'âŒ';
	font-size: 2rem;
}

.cross:hover {
	cursor: pointer;
}



@media (max-width: 650px) {
	html {
		font-size: 105%;
	}
}

@media (max-width: 610px) {
	html {
		font-size: 100%;
	}
}

@media (max-width: 580px) {
	html {
		font-size: 95%;
	}
}

@media (max-width: 550px) {
	html {
		font-size: 90%;
	}
}

@media (max-width: 530px) {
	html {
		font-size: 85%;
	}

	[data-control] {
		font-size: 1.2rem;
	}

	.dayBrief, .weekBrief {
		font-size: 1.5rem;
	}

	.location p {
		font-size: 1.8rem;
	}

	.metaInfo>p, .currentTemp>p {
		font-size: 1.4rem;
	}
}

@media (max-width: 490px) {
	html {
		font-size: 80%;
	}
}

@media (max-width: 470px) {
	html {
		font-size: 75%;
	}
}

@media (max-width: 440px) {
	html {
		font-size: 70%;
	}
}

@media (max-width: 410px) {
	html {
		font-size: 65%;
	}
}

@media (max-width: 380px) {
	html {
		font-size: 60%;
	}
}

@media (max-width: 355px) {
	html {
		font-size: 53%;
	}
}

@media (max-width: 315px) {
	html {
		font-size: 50%;
	}
}

@media (max-width: 295px) {
	html {
		font-size: 47%;
	}
}
