* {
	font-family: 'Work Sans', sans-serif;
}

html {
	font-size: 110%;
	line-height: 1.5;

}

body {
	/*background: #fdfcf4;*/
	background: #efede3;
}

.container {
	display:flex;
	flex-direction: column;
	max-width: 1000px;
	margin: 1.5rem auto;
}

header {
	display:flex;
	flex-direction: column;
}

.banner {
	background: #006400;
}

h1 {
	text-align: center;
	font-family: 'Averia Sans Libre', cursive;
	color: #fff;
	font-size: 2.5rem;
}

.intro {
	padding: 1.5rem;
}

.wrapper {
	display:flex;
}

.content {
	display:flex;
	flex-direction: column;
	/*flex: 8;*/
}

/*.list {
	margin-top: 3rem;
}
*/
.main {
	display:flex;
	flex-direction: column;
	/*background: #fafaff;*/
	background: #fbf9f2;
}

/*aside {
	display:flex;
	flex-direction: column;
	flex: 2;
}
*/
.tabs {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	margin: 5px 5px 0 5px;
	flex: 3;
	height: 40px;
	text-align: center;
	font-size: 1.2rem;
	padding-top: 10px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}

.frontEnd {
	background: #F0DB4F;
	margin-left: 0;
}

.dataVisualization {
	/*background: #F5864A;*/
	background: #a2a2a2;
	opacity: .2;
	margin-left: 0;
	margin-right: 0;
}

.backEnd {
	/*background: #026E00;*/
	background: #a2a2a2;
	margin-right: 0;
	opacity: .2;
}

#front {
	border: 1px solid #F0DB4F;
	border-top: 0;
	padding: 0 1rem 1rem;
}

#data {
	border: 1px solid #F5864A;
	border-top: 0;
	padding: 1rem;
}

#back {
	border: 1px solid #026E00;
	border-top: 0;
	padding: 1rem;
}

#data, #back {
	display: none;
}

.frontItem {
	display:flex;
	flex-direction: column;
	margin-top: 3rem;
}

.card {
	display:flex;
}

.header {
	padding: .2rem;
	text-align: center;
}

.easyHeader {
	background: #96ceff;
}

.mediumHeader {
	background: #ffdf96;
}

.hardHeader {
	background: #f36262;
}

h3 {
	margin: 0;
}

img {
	max-width: 450px;
}

.illustration, .description {
	padding: 1rem;
}

.illustration.right {
	order: 2;
}

.projectLink {
	/*background: rgba(28, 89, 134, 0.75);*/
	background: #566270;
	padding: .6rem;
	text-decoration: none;
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	font-size: .9rem;
	text-align: center;
	display: block;
	max-width: 250px;
	margin: 0 auto;
}


.about {
	font-size: .7rem;
}

.about > ul {
	list-style: none;
	padding-left: 0;
}

.req {
	list-style: disc;
}



@media (max-width: 950px) {
	img {
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
	.card {
		flex-wrap: wrap;
	}
	.illustration.right {
		order: 0;
	}
	.illustration {
		width: 100%;
	}
}

@media (max-width: 710px) {
	nav li {
		font-size: 1.1rem
	}
}

@media (max-width: 650px) {
	.dataVisualization {
		line-height: 1.7;
	}
}

@media (max-width: 618px) {
	.dataVisualization {
		line-height: .9;
	}
}

@media (max-width: 480px) {
	.container {
		margin: .5rem auto;
	}
	.intro {
		padding: .5rem;
	}
	nav li {
		font-size: 1rem
	}
	.illustration {
		padding: 1rem 0 0;
	}
	.description {
		padding: 0;
	}
}

@media (max-width: 410px) {
	nav li {
		font-size: 0.9rem
	}

	.frontEnd, .backEnd {
		line-height: 1.8;
	}
}

@media (max-width: 326px) {
	.frontEnd {
		line-height: .9;
	}
	h1 {
		font-size: 2.3rem;
		margin: 0;
	}
}

@media (max-width: 302px) {
	.backEnd {
		line-height: .9;
	}
}